.contacts__email {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-size: 30px;
  line-height: 39px;
  color: #EEEEEE;
}

@media screen and (max-width: 1440px) {
  .contacts__email {
    font-size: calc((100vw - 744px)/(1440 - 744) * (30 - 15) + 15px);
    line-height: calc((100vw - 744px)/(1440 - 744) * (39 - 19.5) + 19.5px);
  }
}

@media screen and (max-width: 744px) {
  .contacts__email {
    font-size: calc((100vw - 377px)/(744 - 377) * (20 - 13) + 13px);
    line-height: calc((100vw - 377px)/(744 - 377) * (29 - 17) + 17px);
    grid-area: contacts3;
  }
}