.card__subtitle {
  max-width: 410px;
  margin: 30px 0 0;
  padding: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #EEEEEE;
  opacity: 0.8;
  /* border: 1px solid goldenrod; */
}

@media screen and (max-width: 1100px) {
  .card__subtitle {
    margin-top: 15px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media screen and (max-width: 880px) {
  .card__subtitle {
    font-size: 13px;
    line-height: 16px;
  }
}

@media screen and (max-width: 377px) {
  .card__subtitle {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
  }
}