.reviews__avatar {
  width: 70px;
  height: 70px;
  display: flex;
  margin: 0 10px 25px;
  padding: 0;
  object-fit: cover;
  object-position: center center;
  border-radius: 100% 100% 0 100%;
  background: #181818;
  border: 1px solid #CD9451;
  z-index: 3;
}

@media screen and (max-width: 1050px) {
  .reviews__avatar {
    width: 58px;
    height: 58px;
    border: 0.5px solid #CD9451;
  }
}

@media screen and (max-width: 744px) {
  .reviews__avatar {
    width: 58px;
    height: 58px;
    border: 0.5px solid #CD9451;
  }
}

@media screen and (max-width: 500px) {
  .reviews__avatar {
    width: 42px;
    height: 42px;
    border: 0.27px solid #CD9451;
  }
}