.footer__logo-telegram {
  margin: 20px 0 0;
  padding: 0;
  max-width: 245px;
  transition: 0.8s;
}

.footer__logo-telegram:hover {
  opacity: 0.5;
}

@media screen and (max-width: 670px) {
  .footer__logo-telegram {
    max-width: 145px;
  }
}