.reviews__indicator {
  display: flex;
  width: 15px;
  height: 15px;
  margin: 0 16px;
  padding: 0;
  border-radius: 100%;
  background-color: #EEEEEE;
  opacity: 0.4;
}

@media screen and (max-width: 1400px) {
  .reviews__indicator {
    /* width: 13px;
    height: 13px; */
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 1050px) {
  .reviews__indicator {
    width: 10px;
    height: 10px;
  }
}