.feedback__subtitle {
  width: max-content;
  margin: auto;
  padding: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .feedback__subtitle {
    font-size: calc((100vw - 744px)/(1440 - 744) * (30 - 15) + 15px);
    line-height: calc((100vw - 744px)/(1440 - 744) * (45 - 22.5) + 22.5px);
  }
}

@media screen and (max-width: 744px) {
  .feedback__subtitle {
    width: 372px;
    font-size: 15px;
    line-height: 22.5px;
  }
}

@media screen and (max-width: 530px) {
  .feedback__subtitle {
    margin-top: 5px;
    text-align: center;
    width: 240px;
  }
}