.insurance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  margin: 90px 100px 150px;
  column-gap: 160px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1440px) {
  .insurance {
    margin-bottom: calc((100vw - 744px)/(1440 - 744) * (150 - 60) + 60px);
    margin-top: calc((100vw - 744px)/(1440 - 744) * (90 - 40) + 40px);
    margin-left: calc((100vw - 744px)/(1440 - 744) * (100 - 52) + 52px);
    margin-right: calc((100vw - 744px)/(1440 - 744) * (100 - 60) + 60px);
    column-gap: calc((100vw - 744px)/(1440 - 744) * (160 - 30) + 30px);
  }
}

@media screen and (max-width: 744px) {
  .insurance {
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px;
    row-gap: 57.7px;
  }
}