.popup__close_video {
  position: absolute;
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0;
  top: -40px;
  right: -40px;
  padding: 0;
  border: none;
  background: none;
  transition: 0.3s;
  /*border: 1px solid red;*/
}

.popup__close_video:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 744px) {
  .popup__close_video {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}