.teaser__button {
  width: 375px;
  height: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 100px 0 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
}

@media screen and (max-width: 1100px) {
  .teaser__button {
    font-size: 15px;
    line-height: 22px;
    width: 198px;
    height: 52px;
    margin-top: 70px;
  }
}

@media screen and (max-width: 744px) {
  .teaser__button {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .teaser__button {
    margin-top: 30px;
  }
}