.redemption__description {
  width: 714px;
  margin: 20px 0 0;
  padding: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  color: #181818;
}

@media screen and (max-width: 1440px) {
  .redemption__description {
    width: calc((100vw - 744px)/(1440 - 744) * (714 - 368) + 368px);
    margin-top: calc((100vw - 744px)/(1440 - 744) * (20 - 10) + 10px);
    font-size: calc((100vw - 744px)/(1440 - 744) * (30 - 15) + 15px);
    line-height: calc((100vw - 744px)/(1440 - 744) * (45 - 22.5) + 22.5px);
  }
}

@media screen and (max-width: 744px) {
  .redemption__description {
    margin-top: 10px;
    width: calc((100vw - 377px)/(744 - 377) * (368 - 323) + 323px);
    font-size: calc((100vw - 377px)/(744 - 377) * (15 - 16) + 16px);
    line-height: calc((100vw - 377px)/(744 - 377) * (22.5 - 24) + 24px);
  }
}